NEXT_PUBLIC_BASE_URL=https://movielifez.com
NEXT_PUBLIC_WHATSAPP_NUMBER=917799202129
NEXT_PUBLIC_CONTACT_EMAIL=Movielifez4u@gmail.com
NEXT_PUBLIC_CONTACT_ADDRESS="CCHF+9V7, Krishna Nagar, Jubli Hills, Hyderabad, Telangana 500034"
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
google-site-verification-placeholder
